/* Global Styles */
body {
    font-family:  sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background: #333;
    color: #fff;
    padding: 1em 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

nav ul li a:hover {
    background-color: #0056b3;
}

main {
    padding: 2em 0;
}

section {
    padding: 2em 0;
}

h2 {
    font-size: 1.5em;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

.project {
    margin-bottom: 1.5em;
}

.resume-button {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
}

.resume-button:hover {
    background-color: #0056b3;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
